h1{
    color: brown;
}

#ex1{
    background-color: cornflowerblue;
    font-size: 30px;
}

.cl1{
    background-color: bisque;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
}

.cl2{
    margin-right: 100px;
}